h1 {
 font-size: 32px;
 color: darkblue;
 text-align: center;
}

h2 {
  color: purple;
  text-align: center;
  font-style: italic;
}

p {
 margin:20px;
 font-size: 22px;
 color: red;
 text-align: center;
}

ul{
  text-align: center;
  line-height: 50px;
  list-style-type: none;
}